<nav class="navbar fixed-top navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio"><img src="assets/image.webp" class="img-fluid logo" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-end collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav text-decoration-none">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="miActivo">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categoria/monsters" routerLinkActive="miActivo">Monstruos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categoria/creatures" routerLinkActive="miActivo">Criaturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categoria/materials" routerLinkActive="miActivo">Materiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categoria/equipment" routerLinkActive="miActivo">Equipamiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categoria/treasure" routerLinkActive="miActivo">Tesoros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
