<div class="row mt-3">
<!--  <div class="col-lg-5 col-xl-5 offset-4">-->
<!--    <ngb-pagination [(page)]="page"-->
<!--                    [pageSize]="pageSize"-->
<!--                    [collectionSize]="pokeApiData.count"-->
<!--                    [maxSize]="4"-->
<!--                    [boundaryLinks]="true"-->
<!--                    [rotate]="true"-->
<!--                    (pageChange)="loadPokemons()"></ngb-pagination>-->
<!--  </div>-->
<!--  <div class="col-lg-3 col-xl-3">-->
<!--    <span class="me-2">Page Size</span>-->
<!--    <select class="form-select" (change)="selectChange($event)">-->
<!--      <option value="18">18</option>-->
<!--      <option value="24">24</option>-->
<!--      <option value="30">30</option>-->
<!--    </select>-->
<!--  </div>-->
  <div class="col-lg-2 col-xl-2 my-2" *ngFor="let poke of pokemons">
    <div class="card bg-dark">
      <div class="card-header">
        <div class="card-title text-primary">
          <h5 class="text-center">{{poke.name | uppercase}}</h5>
        </div>
      </div>
      <img [src]="poke.front_default" alt="" class="card-img-top">
    </div>
  </div>
<div class="row justify-content-center">
  <div class="ccol-xl-12 col-xl-12">
    <h1 class="text-uppercase text-danger-emphasis text-center my-5">En esta API, hay que acceder al personaje para ver la información individual de cada pokemon </h1>
  </div>
</div>
</div>
