.miCard:hover{
  cursor: pointer;
  transform: scale(105%);
  transition-duration: 0.25s;
  border: solid crimson 3px;
}
.miCard{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
}
.myHeigh{
  height: 700px;
}
