<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xxl-6">
      <img routerLink="/info" src="assets/images/Valorant_Cover_Art.webp" alt="valorant" class="img-fluid img my-5">
    </div>
    <div class="col-lg-6 col-xxl-6">
      <img routerLink="/monsterhunter" src="assets/images/mh.jpg" alt="monster hunter" class="img-fluid img my-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xxl-6">
      <img routerLink="/finalspace" src="assets/images/fs.webp" alt="finalspace" class="img-fluid my-5 img">
    </div>
    <div class="col-lg-6 col-xxl-6">
      <img routerLink="/pokemon" src="assets/images/pokemon.jpeg" alt="pokemon" class="img-fluid img my-5">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xxl-6">
      <img routerLink="/pokeapi" src="assets/images/pokeapi.png" alt="pokeapi" class="img-fluid my-5 img">
    </div>
  </div>
</div>
