<div class="row" *ngIf="equipamiento">
  <h1 class="my-5 p-5 miH1 text-uppercase">Hay un equipamiento total de {{equipamiento.length}} armas en zelda botw</h1>
  <div class="col-lg-3 col-xl-3" *ngFor="let equip of equipamiento;">
    <div class="card my-3 miCard" style="width: 18rem;" [routerLink]="'/detail-equipamiento/'+equip.id">
      <img [src]="equip.image" class="card-img-top img-fluid" [alt]="equip.name">
      <div class="card-body bg-body-secondary">
        <div class="card-title">
          <h3 class="text-primary text-uppercase text-center">{{equip.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

