<!-- CON EL NGIF LE DECIMOS QUE MIENTRAS CARGA LA INFO DE LA API-->
<div class="d-flex justify-content-end my-4">
  <div>
    <!-- Llamamos a la paginacion con, <ngb-pagination</ngb-pagination>-->
    <!-- BANANA ON THE BOX, [()], doble enlace de datos. Voy a vincular la variable page(que tengo en el typescript), con el objeto ngb-pagination.-->
    <!-- BANANA ON THE BOX, [()], Cuando yo modifique el HTML se modificará el valor en el typescript y viceversa  .-->

    <!-- [(page)] = "page", que lo vinculamos con nuestra variable page -->
    <!-- [pageSize]="20", tamaño de pagina-->
    <!-- [collectionSize]="dataApi.info.count", donde cogemos la información-->
    <!-- [maxSize]="3", numero total de elementos que voy a poner de corrido -->
    <!-- [rotate]="true", -->
    <!-- [boundaryLinks] ="true", flechas de avanzar e ir atras-->
    <!-- (pageChange)="loadCharacters()">,el evento (pageChange) llama a la funcion loadCharacters() y muestra los nuevos elementos-->
    <ngb-pagination
      [(page)] = "page"
      [pageSize]="pageSize"
      [collectionSize]="characters.meta.totalItems"
      [maxSize]="3"
      [rotate]="true"
      [boundaryLinks] ="true"
      (pageChange)="loadCharacters()">
    </ngb-pagination>
  </div>
</div>
<div class="row mt-5" *ngIf="characters">
  <div class="col-lg-3" *ngFor="let char of characters.items;">
    <div class="card mt-3 bg-dark text-white">
      <div class="card-header">
        <div class="card-title">
          <h3 class="text-primary text-center">{{char.name}}</h3>
        </div>
      </div>
      <img [src]="char.image" class="card-img-top img-fluid img-card redirec" [routerLink]="'/detail-db/'+char.id" alt="imagen">
    </div>
  </div>
</div>
