<nav class="navbar navbar-expand-lg navbar-light bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">
      <img src="assets/android-icon-192x192.webp" alt="icon" class="img-fluid icon">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="miActivo" routerLink="/inicio">Inicio</a>
        <a class="nav-link" routerLinkActive="miActivo" routerLink="/dragonball">Dragon Ball</a>
      </div>
    </div>
  </div>
</nav>
