<div class="row">
  <div class="col-6 offset-3 my-3 " >
    <div class="card shadow h-100">
      <div class="card-header">
        <h3> {{charInfo.name}} </h3>
      </div>
      <img [src]="charInfo.img_url" alt="" class="card-img">
      <div class="card-body">
        <p><strong>ID : </strong> {{charInfo.id}}</p>
        <p><strong>Gender : </strong> {{charInfo.gender}}</p>
        <p><strong>Hair : </strong> {{charInfo.hair}}</p>
        <p><strong>Ability : </strong></p>
        <p *ngFor="let ab of charInfo.abilities"  >{{ab}}  </p>
      </div>
      <div class="card-footer">
        <small>Origin : {{charInfo.origin}}</small>
      </div>

          </div>

  </div>


</div>






