.miActivo{
  font-weight: bolder;
  font-family: "The Wild Breath of Zelda", serif;
  font-size: 25px;
  letter-spacing: 3px;
  color: #917f04;

}
.enlace{
  font-weight: bolder;
  font-family: "The Wild Breath of Zelda", serif;
  font-size: 25px;
  letter-spacing: 3px;
}
